@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --basket-color: rgb(220, 205, 95);
  --basket-shadow: rgb(118, 108, 49);
  --cube-size: 60px;
  --half-cube-size: 30px;
  --negative-hcz: -30px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Times New Roman", sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: url("./imgs/farm.jpg");
  background-size: cover;
}

.game-container {
  width: 700px;
  height: 90vh;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 5px 10px 2px rgb(0, 0, 0, 0.6);
  background: rgba(30, 143, 255, 0.361);
}
/* i {
  color: var(--basket-color);
  font-size: calc(10 * 1vh);
  text-shadow: 0 3px 10px var(--basket-shadow);
} */

/* box */

.box-wrapper {
  width: var(--cube-size);
  height: var(--cube-size);

  /* perspective: 400px; */
 
  
}
.box {
  position: absolute;
  top:80vh;
  left:50vw;
  transform-style: preserve-3d;
  width: var(--cube-size);
  height: var(--cube-size);
  /* animation: rotate_cube 10s linear infinite; */
}
.box > .plane {
  position: absolute;
  left: 0;
  width: var(--cube-size);
  height: var(--cube-size);
  background: -webkit-linear-gradient(right bottom, #f96, #f00);
  box-sizing: border-box;
  text-align: center;
  line-height: var(--cube-size);
  color: yellow;
  font-size: 3em;
}

.plane.a {
  transform: translate3d(0px, var(--half-cube-size), var(--half-cube-size))
    rotateX(90deg);
}
.plane.b {
  transform: translate3d(0, 0, var(--cube-size));
}
.plane.c {
  transform: translate3d(var(--half-cube-size), 0, var(--half-cube-size))
    rotateY(90deg);
}
.plane.d {
  transform: translate3d(0, var(--negative-hcz), var(--half-cube-size))
    rotateX(90deg);
}
.plane.e {
  transform: translate3d(var(--negative-hcz), 0, var(--half-cube-size))
    rotateY(90deg);
}
.plane.f {
  transform: rotateY(45deg);
}

@keyframes rotate_cube {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate3d(-1, 1, -1, 180deg);
  }
  100% {
    transform: rotate3d(1, 0.5, 1, -360deg);
  }
}
/* media queries */
@media screen and (max-width: 720px) {
  .game-container {
    width: 95vw;
  }
}
